<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <receiver
      android:name=".debug.AmberAgentSmokeReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="app.amber.agent.debug.SMOKE_TERMINAL" />
        <action android:name="app.amber.agent.debug.SMOKE_SCREEN" />
        <action android:name="app.amber.agent.debug.SMOKE_SCREENSHOT" />
        <action android:name="app.amber.agent.debug.SMOKE_SYSTEM_ACCESS" />
        <action android:name="app.amber.agent.debug.SMOKE_AGENT_TOOL" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
